html {
	background: url('../img/splatter.png') no-repeat 50px 20px,
				url('../img/splatterblur.png') repeat;
	background-color: hsla(127, 71%, 46%, 0.9);
}

@media screen and (max-width: 550px) {
	html {
		background-size: cover;
	}
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

h1 {
	font-family: 'Bowlby One';
	font-size: 4em;
	transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
}

h1 span:first-child {
	background-color: hsl(60,80%,60%);
	border-radius: 4px;
	color: #0c0c0c;
	vertical-align: middle;
	padding: 0 20px;	
	box-shadow: 0 0 80px hsla(60,80%,60%,0.6);
}

h1 span:last-child {
	display: inline-block;
	font-size: 1.6em;
	vertical-align: middle;
	background-color: hsla(60,0%,20%,0.7);
	border-radius: 8px;
	color: hsl(60,80%,60%);
	transform: rotate(4deg);
	-webkit-transform: rotate(12deg) translate(-5px, 10px);
	padding: 0 20px;
	text-align: center;
}