html {
	background: url('../img/splatter.png') no-repeat,
				url('../img/splatterblur.png') repeat;
	background-position: 50px 20px, 20% 20%;
	background-color: hsla(127, 71%, 46%, 0.8);	
}

@media screen and (max-width: 550px) {
	html {
		background-size: cover;
	}
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

h1 {
	font-family: 'Bowlby One';
	font-size: 4em;
	transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
}

h1 span:first-child {
	background-color: hsl(60,80%,60%);
	border-radius: 4px;
	color: #0c0c0c;
	vertical-align: middle;
	padding: 0 20px;	
	box-shadow: 0 0 80px hsla(60,80%,60%,0.6);
}

h1 span:last-child {
	display: inline-block;
	font-size: 1.6em;
	vertical-align: middle;
	background-color: hsla(60,0%,20%,0.7);
	border-radius: 8px;
	color: hsl(60,80%,60%);
	transform: rotate(4deg);
	-webkit-transform: rotate(12deg) translate(-5px, 10px);
	padding: 0 20px;
	text-align: center;
}


.spillpics {
	margin-left: 100px;
	width: 60%;
	min-width: 200px;
	-webkit-perspective: 1600;
	-webkit-perspective-origin: 50% -10px;
}


@-webkit-keyframes spin {
	from { -webkit-transform: rotateY(360deg); }
	to   { -webkit-transform: rotateY(0deg); }
}

.spinplane {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: visible;
	-webkit-animation: spin 36s infinite linear;
}

.pic {
	position: absolute;
	top: 60px;
	left: 30%;
	width: 220px;
	height: 124px;
	background-size: cover;
	display: inline-block;
	border: 3px solid #000;
	border-radius: 2px;
}

.spill1 {
	-webkit-transform: rotateY(0deg) translateZ(418px);
	background-image: url(../img/spilledtoys.jpg);
}
.spill2 {
	-webkit-transform: rotateY(30deg) translateZ(418px);
	background-image: url(../img/spilledraisins.jpg);
}
.spill3 {
	-webkit-transform: rotateY(60deg) translateZ(418px);
	background-image: url(../img/spilledmilk.jpg);
}
.spill4 {
	-webkit-transform: rotateY(90deg) translateZ(418px);
	background-image: url(../img/spilledtoys.jpg);
}
.spill5 {
	-webkit-transform: rotateY(120deg) translateZ(418px);
	background-image: url(../img/spilledraisins.jpg);
}
.spill6 {
	-webkit-transform: rotateY(150deg) translateZ(418px);
	background-image: url(../img/spilledmilk.jpg);
}
.spill7 {
	-webkit-transform: rotateY(180deg) translateZ(418px);
	background-image: url(../img/spilledtoys.jpg);
}
.spill8 {
	-webkit-transform: rotateY(210deg) translateZ(418px);
	background-image: url(../img/spilledraisins.jpg);
}
.spill9 {
	-webkit-transform: rotateY(240deg) translateZ(418px);
	background-image: url(../img/spilledmilk.jpg);
}
.spill10 {
	-webkit-transform: rotateY(270deg) translateZ(418px);
	background-image: url(../img/spilledtoys.jpg);
}
.spill11 {
	-webkit-transform: rotateY(300deg) translateZ(418px);
	background-image: url(../img/spilledraisins.jpg);
}
.spill12 {
	-webkit-transform: rotateY(330deg) translateZ(418px);
	background-image: url(../img/spilledmilk.jpg);
}


