html {
	background: url('../img/splatter.png') no-repeat,
				url('../img/splatterblur.png') repeat;
	background-position: 50px 20px, 20% 20%;
	background-color: hsl(250, 84%, 55%);	
}

@media screen and (max-width: 550px) {
	html {
		background-size: cover;
	}
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

h1 {
	font-family: 'Bowlby One';
	font-size: 4em;
	width: 600px;
	transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
}


h1 span:first-child {
	background-color: hsl(60,80%,60%);
	border-radius: 4px;
	color: #0c0c0c;
	vertical-align: middle;
	padding: 0 20px;	
	box-shadow: 0 0 80px hsla(60,80%,60%,0.6);
}

h1 span:last-child {
	display: inline-block;
	font-size: 1.6em;
	vertical-align: middle;
	background-color: hsla(60,0%,20%,0.7);
	border-radius: 8px;
	color: hsl(60,80%,60%);
	transform: rotate(12deg) translate(-5px, 10px);
	-webkit-transform: rotate(12deg) translate(-5px, 10px);
	padding: 0 20px;
	text-align: center;
}

h2 {
	font-family: 'Rock Salt';
	font-size: 1.6em;
	margin-top: 0px;
	margin-left: 20px;
	color: hsl(60,80%,60%);
	letter-spacing: 4px;
	text-shadow: 3px 3px #0c0c0c;
	font-weight: 50;
	text-align: center;
	padding: 8px;
	display: inline-block;
	
}

.spillpics {
	margin-top: 75px;
	width: 100%;
}

.pic {
	width: 30%;
	height: 220px;
	background-size: cover;
	display: inline-block;
	border: 3px solid #070707;
	border-radius: 2px;
}

.nav {
	list-style: none;

}

.nav a {
	color: hsl(60,80%,60%);
	text-decoration: none;
	width: 100px;
	height: 20px;
	border: 5px #000;
	background: #000;
	box-shadow: 5px 5px #000;
	display: block;
	text-align: center;
}

.spill1 {
	background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0.2, rgba(0,0,0,0.7)), color-stop(0.5, transparent)), 
		url(../img/spilledtoys.jpg);
}
.spill2 {
	background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0.2, rgba(0,0,0,0.7)), color-stop(0.5, transparent)), 
		url(../img/spilledraisins.jpg);
}
.spill3 {
	background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0.2, rgba(0,0,0,0.7)), color-stop(0.5, transparent)), 
		url(../img/spilledmilk.jpg);
}

