body {
	background: url('/static/img/splatter.png') no-repeat,
				url('/static/img/splatterblur.png') repeat;
	background-position: 50px 20px, 20% 20%;
}

@media screen and (max-width: 550px) {
	body {
		background-size: cover;
	}
}

@media only screen and (min-width: 30em) {
    .logo { width: 50%; }
    .nav { width: 50%; }
}

.logo {
	font-family: 'Bowlby One';
	font-size: 4em;
	transform: translate(.2em, .5em) rotate(-6deg);
	white-space: nowrap;
	padding: 0px;
}


.logo span:first-child {
	background-color: hsl(60,0%,15%);
	border-radius: 4px;
	color: #fff;
	vertical-align: middle;
	padding: 0 20px;
	box-shadow: 0 0 80px #ddd;
}

.logo span:last-child {
	display: inline-block;
	font-size: 1.5em;
	vertical-align: middle;
	background-color: hsla(60,0%,20%,0.7);
	border-radius: 8px;
	color: #ccc;
	transform: rotate(12deg) translate(-5px, 15px);
	padding: 0 30px;
	text-align: center;
}
